.DS_Store

/.idea

backend/web/assets
backend/assets
backend/assets/*
backend/runtime
environments/dev/backend/web/assets
frontend/assets
frontend/runtime
environments/dev/frontend/web/assets
frontend/web/assets
frontend/web/assets/*
